PyAudio-recorder
utils
recording-app copy.py
dist
data
PyAudio-recorder - Copy/
recording-app copy 2.py
PyAudio-recorder/
build/
old_files/
rec-app-copies/
temp_8k.wav
temp1.wav
temp.wav
trimmed.wav
trimmed_48k.wav
trimmed_8k.wav